@import url('https://rsms.me/inter/inter.css');

:root {
  --white: #fff;
  --black: #000; 
  --grey-100: #151513;
  --grey-200: #2D2A26;
  --grey-300: #4F4F4F;
  --grey-400: #868781;
  --grey-500: #B7B7B7;
  --grey-600: #ccc;
  --grey-700: #F1F1F1;
  --grey-800: #EFF4F5;
  --grey-900: #F6F6F6;
  --purple-100: #200528;
  --purple-300: #9154BB;
  --purple-400: #AE16D7;
  --purple-500: #C706FF;
  --blue-500: #754DFD;
  
  --dark-gradient: linear-gradient(#000, #280034);
  --button-gradient: linear-gradient(135deg, #9A4DFF 0%, #F600DD 100%);
  --button-buy-gradient: linear-gradient(135deg, #3D033B 0%, #A30E93 100%);
  --department-gradient: linear-gradient(180deg, rgba(110, 118, 71, 0.17) 11.46%, #2F2F2D 100%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body, input, textarea, select, button { 
  font: 400 1rem 'Inter', sans-serif; 
}

button {
  border: none;
  cursor: pointer;
}

a {
  color: inherit;
  text-decoration: none;
}