.contactHeader {
  background-color: var(--grey-100);
  border-bottom: 1px solid var(--purple-400);
  padding: 14px;

  font-size: 14px;
  color: var(--grey-900);

  @media (max-width: 1250px) {
    display: none;
  }

  .container {
    display: flex;
    align-items: center;
    justify-content: flex-end;

    margin: 0 auto;
    width: 100%;
    max-width: 1224px;
  }
  
  nav {
    a {
      margin-right: 30px;
    }
  }

  .socialMedias {
    a+a {
      margin-left: 25px;
    }

    svg {
      width: 14px;
    }
  }
}

.mainHeader {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: var(--black);
  
  padding: 10px;
  font-size: 14px;
  color: var(--white);

  @media (max-width: 1250px) {
    padding: 20px;
    position: fixed;
    bottom: -1px;
    border-radius: 20px 20px 0 0;
    border-top: 1px solid var(--purple-500);

    img[alt="Codetech"] {
      display: none;
    }
  }

  nav {
    margin: 0 62px;

    @media (max-width: 1250px) {
      display: none;
    }

    a+a {
      margin-left: 62px;
    }

    .active {
      color: var(--purple-500);
    }
  }

  .menu {
    display: flex;
    align-items: center;

    a+a {
      margin-left: 40px;
    }

    img {
      @media (max-width: 1250px) {
        width: 25px;
      }
    }
    
    .menuIcon {
      display: none;

      @media (max-width: 1250px) {
        display: inline-block;
      }
    }
  }
}